.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-left: auto;
}

.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.contacts__item {
  color: $text-color;
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.contacts__link {
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: $text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(500, 12px, 1.16);
  }
}
.contacts__link--big-size {
  @media screen and (max-width: 479px) {
    line-height: 1.176;
    font-size: 27px;
  }
  @media screen and(min-width:480px) {
    font-size: 34px;
    line-height: 1.176;
  }
}

.contacts__link--accent-color {
  color: $accent-color;
}

.contacts__link--medium-size {
  @media screen and (max-width: 479px) {
    font-size: 17px;
    line-height: 1.166;
  }
  @media screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 1.166;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (max-width: 1199px) {
  .contacts__icon {
    display: none;
  }
}

.contacts__icon-first {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
    fill: currentColor;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon-first {
    display: none;
  }
}

.second-contacts__map-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.second-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba($secondary-color, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.second-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
