%btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

%subscribe {
  font-weight: 400;
  font-size: 16px;
}

%field {
  font-weight: 400;
  font-size: 12px;
}

%section {
  font-weight: 700;
  font-size: 28px;
}

%text {
  text-align: center;
  letter-spacing: 0.03em;
}
