$primary-shade-color: #212121;
$secondary-color: #ffffff;
$text-color: #757575;
$accent-color: #2196f3;
$primary-color: #000000;
$primary-background-color: #30313b;
$secondary-background-color: #f5f4fa;
$header-border-bottom-color: #ececec;
$border-color: #eeeeee;
$social-icon-color: #afb1b8;
$background-imager: #2f303a;
